
<div class="col-md-12 listing" ng-init="alert('s');init();" ng-controller="EditListingController">
  <div class="row">
    <div class="well col-sm-6 form-horizontal">


      <form name="userForm" enctype="multipart/form-data">
        <br>
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="inputAddress" ng-model="listing.address.streetname" placeholder="Address" required>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="inputZip" ng-model="listing.address.postal_code" placeholder="Zip code" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" class="form-control" id="inputCity" ng-model="listing.address.city" placeholder="City" required>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputProvince" ng-model="listing.address.province" placeholder="Province"required>
          </div>
          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="inputCountry" ng-model="listing.address.country" placeholder="Country"required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label> Start Date</label>
            <input type="date" class="form-control" id="inputStart" ng-model="listing.timeframe.start_date" required>
          </div>
          <div class="form-group col-md-6">
            <label> End Date</label>
            <input type="date" class="form-control" id="inputEnd" ng-model="listing.timeframe.end_date" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.utilities" id="utilities">
            <label> Utilities</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.furnished" id="furnished">
            <label> Furnished</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.en_suite" id="en_suite">
            <label> En Suite</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.public_transport" id="public_transport">
            <label> Public Transport</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.pets" id="pets">
            <label> Pets</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.none" id="none">
            <label> None of the above</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <select id="inputType" class="form-control" ng-model="listing.type">
              <option value="" selected disabled hidden>Choose type</option>
              <option>apartments</option>
              <option>houses</option>
              <option>townhouses</option>
              <option>dormitory</option>
              <option>lofts</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <select id="inputDemographic" class="form-control" ng-model="listing.demographic">
              <option value="" selected disabled hidden>Choose demographic</option>
              <option>male</option>
              <option>female</option>
              <option>coed</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label># Bed</label>
            <input type="number" class="form-control" id="inputBed" ng-model="listing.bed">
          </div>
          <div class="form-group col-md-6">
            <label># Bath</label>
            <input type="number" class="form-control" id="inputBath" ng-model="listing.bath">
          </div>
          <div class="form-group col-md-6">
            <label>Area (sqft)</label>
            <input type="number" class="form-control" id="inputArea" ng-model="listing.area">
          </div>
          <div class="form-group col-md-6">
            <label>Price/Month</label>
            <input type="number" class="form-control" id="inputPrice" ng-model="listing.price">
          </div>
          <div class="form-group col-md-12">
            <textarea class="form-control" id="inputDescription" rows="3" ng-model="listing.description" placeholder="Description"></textarea>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="file" id="file" class="input-text" ngf-change="onChange($files)" ngf-select ng-model="picFile" name="attachement" accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf " />
          </div>
        </div>
        <div class="form-row">

          <div class="form-group col-md-12">
          <img id="preview" ng-if="isImage(fileExt)" ngf-src="picFile[0]" class="thumb">
          </div>
        </div>

        
      </form>
      
      <button class="btn btn-primary minwidth-10" type="button" ng-click = "update()">Save </button>
      <button class="btn btn-primary minwidth-10" type="button" ng-click = "deleteListing()"> Delete</button>
          <canvas id="myCanvas"></canvas>
    </div>

  </div>

</div>

<style>
  .thumb {
  width: 100%;
  height: 100%;
  float: none;
  position: relative;
  display: inline;  
}
  </style>