<div class="col-md-12 home" ng-init="init();" ng-controller="MainController">
 <div class="row">
    <div class="col-md-12 well">
      <label>{{tagline}}</label>
      <table class="table table-striped table-hover">
      <tr>
        <th ng-click="orderByMe('name')">Name</th>
        <th ng-click="orderByMe('place')">Place </th>
        <th ng-click="orderByMe('country')">Country </th>
      <tbody>
      <tr valign="middle" ng-repeat="obj in students | orderBy:myOrderBy">
        <td> <a href="#/student/{{obj._id}}"> {{obj.name}} </a> </td>
        <td> {{obj.place}}</td>
        <td> {{obj.country}}</td>
      </tr>
    </tbody>
    </table>
     </div>
  </div>   
</div>      