
<style>

.wrapper {
  position: relative;
}
#listSearch {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#mapView {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.my-custom-scrollbar {
  position: relative;
  /*height of the scroll bar*/
  height: 65vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
  opacity:0.8;
}


</style>
<div class="col-md-12" ng-init="init();toggle('list');" ng-controller="MainController">
 <div class="row">
    
    <div class="col-md-2 well">
      <div>
        <button id="listBtn" type="button" class="btn" onclick="toggle('list')">List</button>
        <button id="mapBtn" type="button" class="btn" onclick="toggle('map')">Map</button>
      </div>

      <div class="wrapper text-white">
        <!--MAP SEARCH -->
        <br>
        <div id="mapSearch" style="visibility: hidden;">
          <input type="text" class="form-control" id="location" placeholder="Address" ng-model="address">
          <br>
          <button class="btn" ng-click="findLocation()">Find</button>
        </div>
        
        <!--LIST SEARCH -->
        <div id="listSearch">
          <p>Address<p>
          <input type="text" class="form-control" id="city" ng-model="search">

          <p>Price<p>
          <input type="text" class="form-control" type="number" id="price" ng-model="price">
          <label>Start Date</label>
          <input type="date" class="form-control" id="inputStart" ng-model="start_date">
          <label>End Date</label>
          <input type="date" class="form-control" id="inputEnd" ng-model="end_date">
            
          <label>Type</label>
          <select id="inputType" class="form-control" ng-model="type">
            <option>apartments</option>
            <option>houses</option>
            <option>townhouses</option>
            <option>dormitory</option>
            <option>lofts</option>
            <option>any</option>
          </select>
          <br>
          <button class="btn" ng-click="clearFilters()">Clear</button>
        </div>
      </div>
    
    </div>
<div class="col-md-1 well">
</div>
    <div class="col-md-9 well">


      <div class="wrapper" >
        
        
        <!--LIST VIEW -->

        <div id="listView" class="table-wrapper-scroll-y my-custom-scrollbar bg-light" >
          <table class="table table-hover mb-0">
        <!--
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <table class="table table-bordered table-striped mb-0">
          -->
               <tr>
            <th ng-click="orderByMe('address.streetname')">Address</th>
            <th ng-click="orderByMe('address.city')">City</th>
            <th ng-click="orderByMe('timeframe.start_date')">Start Date </th>
            <th ng-click="orderByMe('timeframe.end_date')">End Date </th>
            <th ng-click="orderByMe('price')">Price </th>
          </tr>
            <tbody>
            <tr valign="middle" ng-repeat="obj in listings | orderBy:myOrderBy | filter:predicate() | filter: search | filter:startDate() | filter:endDate() | filter:typeFilter()">
              <td> <a href="#/viewlisting/{{obj._id}}"> {{obj.address.streetname}} </a> </td>
              <td> {{obj.address.city}}</td> 
              <td> {{toDate(obj.timeframe.start_date)}}</td>
              <td> {{toDate(obj.timeframe.end_date)}}</td>
              <td> {{obj.price}}</td>
            </tr>
          </tbody>
          </table>
        </div>

        <!--MAP VIEW -->
        <div class="embed-responsive embed-responsive-4by3" id="mapView" style="visibility: hidden;">
          <iframe class="embed-responsive-item" src="views/mapsAddMarker2.html" title="Maps" id="map"></iframe>
        </div>

      </div>
     </div>
  </div>   
</div>

