<div class="col-md-12 student" ng-init="init();" ng-controller="LoginController">
  <div class="row">
        <div class="well col-sm-6 form-horizontal">
         <ng-form name="loginForm"> 
            <div class="input-group">
                <div class="input-group-addon"><strong> Username:</strong></div>&nbsp;&nbsp;
                <input class="form-control" id="username" type="text"  ng-model="user.username"  maxlength="40" required="required"/>     
            </div></br>
            <div class="input-group">
                <div class="input-group-addon"><strong> Password:</strong></div>&nbsp;&nbsp;
                <input type="password" class="form-control" id="password"  type="text"  ng-model="user.password"  maxlength="40" required="required"/>     
            </div>
            </br></br>
            <div class="pull-left">
                <button class="btn btn-primary" type="button" ng-click="login()" ng-disabled="!loginForm.$valid"> Login </button>
                <p>Don't have an account? <a href="#/register"> Click here</a></p>
            
            </div>                    
        </ng-form>
    </div>   
</div>  
