<div class="login col-md-6 user" ng-init="init();" ng-controller="LoginController">
  <h3>Login</h3>
         <ng-form name="loginForm"> 
            <div class="input-group">
                <div class="input-group-addon"><strong> Username:</strong></div>&nbsp;&nbsp;
                <input class="form-control" id="username" type="text"  ng-model="user.username"  maxlength="40" required="required"/>     
            </div></br>
            <div class="input-group">
                <div class="input-group-addon"><strong> Password:</strong></div>&nbsp;&nbsp;
                <input type="password" class="form-control" id="password"  type="text"  ng-model="user.password"  maxlength="40" required="required"/>     
            </div>
            </br>
            <br>
            <div class="pull-left">
                <button class="btn btn-primary minwidth-10" type="button" ng-click="login()" ng-disabled="!loginForm.$valid"> Login </button>
                <p>Don't have an account? <a href="#/register"> Click here</a></p>
            </div>                    
        </ng-form>
    
</div>  
