<div class="col-md-12 listing" ng-init="alert('s');init();" ng-controller="NewController">
  <div class="row">
    <div class="well col-sm-6 form-horizontal">


      <form name="userForm">
        <div class="form-row">
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="inputAddress" ng-model="listing.address.streetname" placeholder="Address" required>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="inputZip" ng-model="listing.address.zip" placeholder="Zip code" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <input type="text" class="form-control" id="inputCity" ng-model="listing.address.city" placeholder="City" required>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputProvince" ng-model="listing.address.province" placeholder="Province"required>
          </div>
          <div class="form-group col-md-3">
            <input type="text" class="form-control" id="inputCountry" ng-model="listing.address.country" placeholder="Country"required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="date" class="form-control" id="inputStart" ng-model="listing.timeframe.start_date" placeholder="Start Time"required>
          </div>
          <div class="form-group col-md-6">
            <input type="date" class="form-control" id="inputEnd" ng-model="listing.timeframe.end_date" placeholder="End Time" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.utilities" id="utilities">
            <label> Utilities</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.furnished" id="furnished">
            <label> Furnished</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.en_suite" id="en_suite">
            <label> En Suite</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.public_transport" id="public_transport">
            <label> Public Transport</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.pets" id="pets">
            <label> Pets</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" ng-model="listing.features.none" id="none">
            <label> None of the above</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <select id="inputType" class="form-control" ng-model="listing.type">
              <option value="" selected disabled hidden>Choose type</option>
              <option>apartments</option>
              <option>houses</option>
              <option>townhouses</option>
              <option>dormitory</option>
              <option>lofts</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <select id="inputDemographic" class="form-control" ng-model="listing.demographic">
              <option value="" selected disabled hidden>Choose demographic</option>
              <option>male</option>
              <option>female</option>
              <option>coed</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Bed</label>
            <input type="number" class="form-control" id="inputBed" ng-model="listing.bed">
          </div>
          <div class="form-group col-md-6">
            <label>Bath</label>
            <input type="number" class="form-control" id="inputBath" ng-model="listing.bath">
          </div>
          <div class="form-group col-md-6">
            <label>Area</label>
            <input type="number" class="form-control" id="inputArea" ng-model="listing.area">
          </div>
          <div class="form-group col-md-6">
            <label>Price</label>
            <input type="number" class="form-control" id="inputPrice" ng-model="listing.price">
          </div>
          <div class="form-group col-md-12">
            <textarea class="form-control" id="inputDescription" rows="3" ng-model="listing.description" placeholder="Description"></textarea>
          </div>

        </div>
      </form>
      <br>
      <button type="submit" class="btn btn-primary" ng-click = "doSave()" ng-disabled="!userForm.$valid">Save</button>
    </div>

  </div>
</div>