<div class="col-md-12 listing" ng-init=" init(); window.setTimeout(sendLocation, 5000);" ng-controller="ViewListingController">
 
  <div class="row mt-3">
    <div class="row"></div>
  <div class="well col-sm-7 bg-white text-dark p-3 opacity ">
    <div class="row">
      <div class="col-sm-12">

        <h2>{{listing.address.streetname}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Address</h4>
        <p>
        {{listing.address.streetname}} <br>
        {{listing.address.city}} {{listing.address.province}}, <br>
        {{listing.address.postal_code}} {{listing.address.country}}
        </p>

        <h4>Type</h4>
        <p>{{listing.type}} for {{listing.demographic}}</p>
        

      

        <h4>Measurements</h4>
        <p>Bedrooms: {{listing.bed}}
        <br>Bathrooms: {{listing.bath}}
        <br>Area: {{listing.area}} m<sup>2</sup></p>
        
        <h4>Dates</h4>
        <p>{{toDate(listing.timeframe.start_date)}} - {{toDate(listing.timeframe.end_date)}}</p>
        <h4>Price</h4>
        <p>$ {{listing.price}}</p>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">

            <h4>Details</h4>
            <p>Includes</p>
            <ul id="features">
            </ul>
            <p>{{listing.description}}</p>
            <p>Lister: {{listing.lister}}</p>
          </div>
        </div>
        <div class="row">
          <div class="text-center" style="width: 100%;">
            <img class="img-fluid mx-auto d-block" src="{{images[i%images.length].img}}" style="width: 100%;">
          </div>
            
          <div class="row d-flex justify-content-center ml-5 mt-2">
            <button id="btnprev" class="btn minwidth-10 slides" ng-click="i=i-1;" ><</button>
            <button id="btnnext" class="btn minwidth-10 slides" ng-click="i=i+1;">></button>
          </div>
        </div>
        
        
      </div>
    </div>
    
    
  <br>
    
    

 </div>

 
 <div class="well col-sm-5 form-horizontal">
   <div class="row">
    <div class="embed-responsive embed-responsive-4by3" id="singleMapView">
      <iframe class="embed-responsive-item" src="views/viewAddressMap.html" title="Maps" id="viewAddress"></iframe>
    </div>
   </div>

  <br>
  <div class="row">
    <div class="well col-sm-6 form-horizontal">

      <button class="btn btn-primary minwidth-10" id = "contact" type="button" ng-click = "contact()">Contact Lister </button>
      <br>
      <button class="btn btn-primary minwidth-10" id="edit" type="button" ng-click = "redirectToNewPage()" style="visibility: hidden;"> Edit</button>   
    </div>
    <div class="well col-sm-6 form-horizontal text-right">
      <button class="btn btn-primary minwidth-10" id="bookmark" type="button" ng-click = "toggle()" style="visibility: hidden;"> {{bookmarkToggle}}</button>   
    </div>
  </div>
  
</div>

</div>
<div class="row">
 
  
</div>


<style>
  .slides {
    border-color: #2196F3;
    color: #2196F3;
  }
</style>

