input:invalid {
    border: 1px solid red;
}
input:valid {
    border: 1px solid green;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.login {
  background-color: #f1f1f1;
  padding: 20px;

  margin-left: auto;
  margin-right: auto;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
body {
  background-image: url('../img/backgroundnight.jpg');
  background-image: url('../img/DAYTIMEBACKGROUND.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.minwidth-10 {
  min-width: 10vh;
}